In [68]:
# Installing and importing libraries
#%pip install pandas
#%pip install zip
#%pip install kaggle
#%pip install openpyxl

import pandas as pd
import zipfile

Link to dataset on kaggle https://www.kaggle.com/datasets/zohrehtofighizavareh/englandweather

In [69]:
#downloading dataset using kaggle API
!kaggle datasets download -d zohrehtofighizavareh/englandweather

Dataset URL: https://www.kaggle.com/datasets/zohrehtofighizavareh/englandweather
License(s): CC0-1.0
englandweather.zip: Skipping, found more recently modified local copy (use --force to force download)

In [70]:
# Extracting file from zip file
zipfile_name = 'englandweather.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [71]:
# Reading file using pandas
weather = pd.read_csv('englandweather.csv')

In [72]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Formatted Date        96453 non-null  object
 1   Summary               96453 non-null  object
 2   Precip Type           95936 non-null  object
 3   Temperature (C)       96453 non-null  float64
 4   Wind Speed (km/h)     96453 non-null  float64
 5   Pressure (millibars)  96453 non-null  float64
 6   Humidity              96453 non-null  float64
dtypes: float64(4), object(3)
memory usage: 5.2+ MB

In [73]:
weather.shape

(96453, 7)

In [53]:
weather

,Formatted Date,Summary,Precip Type,Temperature (C),Wind Speed (km/h),Pressure (millibars),Humidity
0,2006-01-01 00:00:00.000 +0100,Partly Cloudy,rain,0.577778,17.1143,1016.66,0.89
1,2006-01-01 01:00:00.000 +0100,Mostly Cloudy,rain,1.161111,16.6152,1016.15,0.85
2,2006-01-01 02:00:00.000 +0100,Mostly Cloudy,rain,1.666667,20.2538,1015.87,0.82
3,2006-01-01 03:00:00.000 +0100,Overcast,rain,1.711111,14.4900,1015.56,0.82
4,2006-01-01 04:00:00.000 +0100,Mostly Cloudy,rain,1.183333,13.9426,1014.98,0.86
...,...,...,...,...,...,...,...
96448,2016-12-31 19:00:00.000 +0100,Mostly Cloudy,rain,0.488889,9.7566,1020.03,0.86
96449,2016-12-31 20:00:00.000 +0100,Mostly Cloudy,rain,0.072222,9.4185,1020.27,0.88
96450,2016-12-31 21:00:00.000 +0100,Mostly Cloudy,snow,-0.233333,9.2736,1020.50,0.89
96451,2016-12-31 22:00:00.000 +0100,Mostly Cloudy,snow,-0.472222,9.2414,1020.65,0.91
96452,2016-12-31 23:00:00.000 +0100,Mostly Cloudy,snow,-0.677778,9.2253,1020.72,0.92

In [54]:
weather.Summary.value_counts()

Summary
Partly Cloudy                          31733
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10890
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Windy and Mostly Cloudy                   35
Breezy and Foggy                          35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Breezy and Dry                             1
Dangerously Windy and Partly Cloudy        1
Windy and Dry                              1
Name: count, dtype: int64

In [55]:
weather['Precip Type'].value_counts()

Precip Type
rain    85224
snow    10712
Name: count, dtype: int64

In [56]:
# Renaming Columns
new_columns_dict = {
    'Formatted Date' : 'datetime',
    'Summary' : 'summary',
    'Precip Type': 'precipitation_type',
    'Temperature (C)': 'temperature',
    'Wind Speed (km/h)': 'wind_speed',
    'Pressure (millibars)': 'pressure',
    'Humidity': 'humidity_percent'
}

weather.rename(new_columns_dict, axis=1, inplace=True)

In [57]:
# Checking if columns have changed
weather.head()

,datetime,summary,precipitation_type,temperature,wind_speed,pressure,humidity_percent
0,2006-01-01 00:00:00.000 +0100,Partly Cloudy,rain,0.577778,17.1143,1016.66,0.89
1,2006-01-01 01:00:00.000 +0100,Mostly Cloudy,rain,1.161111,16.6152,1016.15,0.85
2,2006-01-01 02:00:00.000 +0100,Mostly Cloudy,rain,1.666667,20.2538,1015.87,0.82
3,2006-01-01 03:00:00.000 +0100,Overcast,rain,1.711111,14.4900,1015.56,0.82
4,2006-01-01 04:00:00.000 +0100,Mostly Cloudy,rain,1.183333,13.9426,1014.98,0.86

In [66]:
# saving file into excel sheet to use in tableau
weather.to_excel('england_weather_dataset.xlsx', sheet_name='Weather')